<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Raf | Chi sono</title>

<style>
h1 {text-align: center;}
h2 {text-align: center;}
form {text-align: center;}
</style>

</head>
<body style="background-color:powderblue;">
		<table style="width:30%" align="center">
			<tr>
			<th><h2><a href="home">HOME</a></h2></th>
			<th><h2><a href="chi-sono">CHI SONO</a></h2></th>
			<th><h2><a href="servizi">SERVIZI</a></h2></th>
			<th><h2><a href="contatti">CONTATTI</a></h2></th>
			</tr>

		</table>




<br><br><br>
<h1> Ciao Sono Raffaele Tammaro </h1>

<br><br><br><br>
				<form align="center">
					<tr>
						<img src="omino.jpg" width="650" height="600">
					</tr>
				</form>

	</body>
</html>